.banner-principal-decorativo
  &-1
    animation: float1 3.5s ease-in-out infinite alternate
    position: absolute
    top: 40%
    right: 50%
  &-2
    animation: float1 2.8s ease-in-out infinite alternate
    position: absolute
    top: 51%
    right: 30%


@keyframes float1
  0%
    transform: translateY(20px)

  100%
    transform: translateY(0px)

// titulos y subtitulos

.subt
  img
    width: 50px
  h3
    color: $color-sistema-texto

.banner-principal p, .banner-principal h1, .banner-principal h2, .banner-principal h3, .banner-principal h4, .banner-principal h5, .banner-principal h6
  color: $color-sistema-texto
.titulo-principal.color-acento-contenido .titulo-principal__numero span 
  color: $color-sistema-texto

.titulo-segundo:after 
  content: ''
  display: block
  height: 4.5px
  width: 140px
  border-left: solid 50px
  border-left-color: #6E3DC6
  background-color: #e8e8e8

.banner-interno__fondo    
  background-image: url("../assets/curso/portada/portada.png") !important
  justify-content: space-around
  background-repeat: no-repeat
  background-position: cover


/*********************************************************/
/*************** REFACTORIZACIÓN ***********************/
.titulo-principal.color-acento-contenido .titulo-principal__numero span
  color: white !important   
.banner-principal__row .banner-principal__img
  max-width: 480px !important  
.banner-principal__img img
  width: 75%
.titulo-principal.color-acento-contenido .titulo-principal__numero 
    background-color: $color-primario !important
figcaption, table caption
  font-weight: normal 




.bg1
  background-color: #B5C7D1

.lista-ol--cuadro__vineta 
    color: $color-sistema-texto
    font-weight: bold
.titulo-sexto.color-secundario 
    border-left-color: $color-secundario

.titulo-segundo:after 
    content: ''
    display: block
    height: 4.5px
    width: 140px
    border-left: solid 50px
    border-left-color: $color-secundario
    background-color: #e8e8e8

.fa-check-circle:before, .fa-circle-check:before 
    content: "\f058"
    color: #445130

.titulo-icono
  background-color: #A6CDEC
  width: fit-content
  position: relative;
  left: 15px;
  &-text
    margin-right: 10px
    margin-left: 0px;
    color: $color-sistema-texto !important
  &-img
    padding: 0px


    &:before
      position: relative
      border-radius: 60px
      @media screen and (max-width: 767px)
        height: 280%
    img
      position: relative
      max-width: 50px

.bloque-texto-b i 
    font-size: 2.5em
    color: $color-primario
.p-full-width
  padding: 3rem 2.5rem!important;
.bg-full-width
  background-size: cover
  background-repeat: no-repeat
  background-position: bottom
  margin-inline: -3.3rem
.bg-fondo
  &-1
    background-size: cover
    background-repeat: no-repeat
    background-position: center
.bg-color
  &-1
    background-color: $color-primario
  &-2
    background-color: #E4F0F9
  &-3
    background-color: $color-acento-botones
  &-4
    background-color: #E5EFD6
  &-5
    background-color: $color-acento-contenido
  &-6
    background-color: #0A4666
  &-7
    background-color: #A6CDEC
  &-8
    background-color: $color-secundario
  &-9
    background-color: #B5C7D1

.linea-tiempo-c__header__btn, .linea-tiempo-c__header__btn--left, .linea-tiempo-c__header__btn--right, .pasos-b__header__btn--left, .pasos-b__header__btn--right, .linea-tiempo-c__header__btn--left, .linea-tiempo-c__header__btn--right, .pasos-b__header__btn--left, .pasos-b__header__btn--right
    border: 0 !important
    background-color: $color-acento-botones !important

.linea-tiempo-c.color-acento-contenido .linea-tiempo-c__header__item--active .linea-tiempo-c__header__item__line-container:before,
.linea-tiempo-c.color-acento-contenido .linea-tiempo-c__header__item--active .linea-tiempo-c__header__item__dot:after,
.linea-tiempo-c.color-acento-contenido .linea-tiempo-c__header__item--before .linea-tiempo-c__header__item__line-container:before, .linea-tiempo-c.color-acento-contenido .linea-tiempo-c__header__item--before .linea-tiempo-c__header__item__line-container:after
    background-color: $color-acento-botones !important
.linea-tiempo-c.color-acento-contenido .linea-tiempo-c__header__item--active .linea-tiempo-c__header__item__dot,
.linea-tiempo-c.color-acento-contenido .linea-tiempo-c__header__item--before .linea-tiempo-c__header__item__dot
  border-color: $color-acento-botones !important

.bg3
  background-color: #3A4852
  border-radius: 10px
  background-size: 100% 100%
  background-repeat: no-repeat
  background-position: center 
  margin-inline: -3rem
  @media screen and (max-width: 992px)
    margin-inline: -1.4rem

.mbt
  display: flex
.lista-ul--color li > i.fas.fa-check-circle.color-secundario:before
  color: $color-secundario !important
.br-2
  border-radius: 20px !important
.tabs-a__tab
    background-color: $color-acento-botones
.tabs-a.color-acento-botones .tabs-a__tab__selected,
.tabs-a.color-acento-botones .tabs-a__tab__selected:before
    background-color: $color-secundario !important
.h-card
  height: 530px
  @media screen and (max-width: 992px)
    height: auto !important
/*********************************************************/
//subrayar item en lista

.surrayar
  border-top: solid 3px
  border-top-color:  #e8e8e8

// fondos, tamaños imagenes y bordes

.img65
  width: 65px  !important

.img90
  width: 90px  !important

.img95
  width: 95px  !important

.img95
  width: 100px  !important

.img250
  width: 250px !important

.img200
  width: 200px !important

.img120
  with: 120px !important

.img100menos
  with: -100px !important

.bggristabla
  background-color: #F6F6F6

.bggristabla2
  background-color: #E8E8E8

.bgazulclaro
  background-color: #75BAF1

.bgrosado
  background-color: #E2D8F4

.bgrosado2
  background-color: #E9E2F7

.bgmoradoclaro
  background-color: #CCBBEB

.bgblanco
  background-color: white

.bgmoradomedio
  background-color: #BE79CA

.bgmorado100
  background-color: #6E3DC6

.borde-redondo
  border-radius: 20px

.borde-redondo-abajo
  border-bottom-left-radius: 20px
  border-bottom-right-radius: 20px

.borde-redondo-izquierdo
  border-top-left-radius: 20px
  border-bottom-left-radius: 20px

.borde-redondo-derecho
  border-top-right-radius: 20px
  border-bottom-right-radius: 20px

.borde-redondo-arriba
  border-top-left-radius: 20px
  border-top-right-radius: 20px

.bgfondotema1
  background: url('../assets/curso/temas/tema1/fondo1.png')
  background-size: 100% 100%
  background-repeat: no-repeat
  background-position: cover

// viñetas

.fa-ol
  margin-left: 0 !important
  li
    display: flex !important
    &:before
      position: relative
      margin-right: 20px
      font-size: 1.4rem

.fa-al
  margin-left: 0 !important
  li
    display: flex !important
    &:before
      position: relative
      margin-right: 19px
      font-size: 1.4rem

// parametrización tabla tema 1

.tabla-a 
  th 
    border-color: #75BAF1 !important

// acordion tema 1

.acordion__accion__btn--a
  background-color: $color-acento-botones
  box-shadow: 0px 0px 7px 2px rgba(0,0,0,.3)
.acordion .tarjeta--azul
  background-color: $color-primario

.acordion .tarjeta.tarjeta--azul.acordion__activo
  background-color: #E4F0F9
  h3
    color: black
.acordion__titulo
  h3
    color: #fff


// slyder tema 1

.tarjeta.colorazulclaro
  background-color: #75BAF1

.tarjeta.moradaclara
  background-color: #BE79CA


.slyder__btn 
    background-color: $color-acento-botones !important

.slyder-f__btn i
  font-size: 1.2rem
  background-color: $color-acento-botones
  color: $color-sistema-texto
  height: 46px
  width: 46px
  padding: 5px
  border-radius: 500px
  display: flex
  justify-content: center
  align-items: center
// tabla 2 tema 1

.tabla-b__header
  background-color: $color-primario !important
  border-color: $color-secundario !important
  border-top: 5px solid
table thead
  background-color: #fff !important
.bordeizquierdoabajo
  border-bottom: 2px solid !important
  border-right: 2px solid !important
  border-color: #E8E8E8 !important

.bordederecho
  border-left: 2px solid !important
  border-color: #E8E8E8 !important

.bordederechoblanco
  border-left: 2px solid !important
  border-color: white !important

.bordeabajo
  border-bottom: 2px solid !important
  border-color: #E8E8E8 !important

.bordearribamorado
  border-color: $color-secundario !important
  border-top: 5px solid

// tarjetas animadas tema 1

.crd_hover_txt
  position: relative  
  padding: 0 !important
  overflow: hidden !important  
  &:hover    
    .crd_hover_txt--body   
      transition: all 0.5s cubic-bezier(0.42, 0, 0.58, 1) 
      transform: translateY(0)
      background-color: #E5EFD6
      h3
        color: black

  .crd_hover_txt--body
    position: absolute
    padding: 1.5rem
    bottom: 0    
    transition: all 0.5s cubic-bezier(0.42, 0, 0.58, 1)
    transform: translateY(calc( 100% - 3.85rem ))
    background-color: $color-acento-botones
  
    
  
  @media (min-width:1200px) and (max-width:1400px)  
    .crd_hover_txt--body
      p
        font-size: 0.85em

// tab tema 2

.tarjeta.color-secundario--borde
    background-color:  #C2F4F8
    color: #12263F
    border: solid 1px  #C2F4F8

// puntos calientes

.img-infografica__item__dot, .img-infografica-b__item__dot
  width: 125%
  padding-top: 125%

.img-infografica__item__numero, .img-infografica-b__item__numero
  left: 65%
  top: 50%

.img-infografica.color-acento-botones .img-infografica__item__numero
  color: #6E3DC6